
.header{
    display: none;
    justify-content: center;
    background-color: aqua;
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    padding: 30px;
    gap: 90px;
    background-color: rgb(133, 133, 192);
}
.header ul li{

}
.text2{
}
