<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>romofyi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link type="text/css" rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link type="text/css" rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link type="text/css" rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link type="text/css" rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
<!-- project section -->
 <div id="project" class="project">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Featured Products</h2>
             </div>
          </div>
       </div>
       <div class="row">
       <div class="product_main">
        
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/shoes1.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
       
        
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/shoes2.png" alt="#"/></div>
                <h3 >Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/shoes3.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/shoes4.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/shoes5.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
       
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/tisat1.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/tisat2.png" alt="#"/></div>
                <h3 >Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/tisat3.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/tisat4.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/tisat5.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
          
       
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/mix1.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box ">
                <div class="dark_white_bg" ><img  src="images/mix2.png" alt="#"/></div>
                <h3 >Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/mix3.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/mix4.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
          
             <div class="project_box">
                <div class="dark_white_bg" ><img  src="images/mix5.png" alt="#"/></div>
                <h3>Short Openwork Cardigan $120.00</h3>
             </div>
         
          <div class="col-md-12">
             <a class="read_more" href="#">See More</a>
          </div>
       </div>
       </div>
    </div>
 </div>