<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>romofyi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link type="text/css" rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link type="text/css" rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link type="text/css" rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link type="text/css" rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
<div class="six_box">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="images/shoes.png" alt="#"/></i>
                <span>Shoes</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="images/underwear.png" alt="#"/></i>
                <span>underwear</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="images/pent.png" alt="#"/></i>
                <span>Pante & socks</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="images/t_shart.png" alt="#"/></i>
                <span>T-shirt & tankstop</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="images/jakit.png" alt="#"/></i>
                <span>cardigans & jumpers</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="images/helbet.png" alt="#"/></i>
                <span>Top & hat</span>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end six_box section -->
