<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>romofyi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link type="text/css" rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link type="text/css" rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link type="text/css" rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link type="text/css" rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>

<!-- three_box section -->
<div class="three_box">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_mony.png"></i>
                <span>Money Back</span>
             </div>
          </div>
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_gift.png"></i>
                <span>Special Gift</span>
             </div>
          </div>
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_car.png"></i>
                <span>Free Shipping</span>
             </div>
          </div>
       </div>
    </div>
 </div>