<div class="flex justify-between p-[100px] bg-teal-100">
    <div class="relative w-[300px]">
        <img class="w-full aspect-auto hover:scale-110" src="https://i0.wp.com/sageleather.com.pk/wp-content/uploads/2023/11/420033-Blue-5.jpg?fit=714%2C893&ssl=1" alt="Casual">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
            <span class="text-white text-xl">Casuals</span>
        </div>
    </div>
    <div class="relative w-[300px]">
        <img class="w-full aspect-auto" src="https://i0.wp.com/sageleather.com.pk/wp-content/uploads/2024/05/420030-Black-5-min.jpg?w=714&ssl=1" alt="Formal">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
            <span class="text-white text-xl">Formals</span>
        </div>
    </div>
    <div class="relative w-[300px]">
        <img class="w-full aspect-auto" src="https://i0.wp.com/sageleather.com.pk/wp-content/uploads/2024/01/480454-Brown-4.jpg?fit=714%2C893&ssl=1" alt="Slippers">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
            <span class="text-white text-xl">Slippers</span>
        </div>
    </div>
</div>
